<div
  id="contenteditable"
  contenteditable="true"
  data-controller="example"
  data-sgid="<%= item.to_sgid.to_s %>"
  style="border: black solid 1px; min-height: 18px; width: 100%; max-width: 350px; padding: 4px 6px;"><%= sanitize(item.content) %></div>