<div style="width: 100vw; display: flex; justify-content: center; margin-top: 100px;">
  <%= render partial: "contenteditable", locals: {item: @item} %>
</div>

<div style="width: 350px; margin: 0 auto;">
  <h4>Some general notes:</h4>
  <ul style="margin-left: -22px;">
    <li style="margin-bottom: 6px;">Content is saved on (debounced) input</li>
    <li style="margin-bottom: 6px;">The unexpected behaviour kicks in when the saved content has a space character at the beginning/end</li>
    <li style="margin-bottom: 6px;">The reflex activity takes place via the example controller/reflex</li>
    <li style="margin-bottom: 6px;">You can add &lt;b> and &lt;i> tags with cmd+b / cmd+i</li>
    <li>The inclusion of these tags changes the unexpected behaviour to a certain extent</li>
  </ul>
</div>
