<div style="width: 100vw; display: flex; justify-content: center; margin-top: 100px;">
  <%= render partial: "contenteditable", locals: {item: @item} %>
</div>

<div style="width: 350px; margin: 0 auto;">
  <h4>Some general notes:</h4>
  <ul style="margin-left: -22px;">
    <li>Content is saved on (debounced) input</li>
    <li>The unexpected behaviour kicks in when the saved content has a space character at the beginning/end of the contenteditable</li>
    <li>You can add &lt;b> and &lt;i> tags with cmd+b / cmd+i</li>
  </ul>
</div>
